#box-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    /* vertical centering */
    justify-content: center;   /* horizontal centering */
    width: auto;
    height: auto;
    background-color:;
    font-size: 18px; 
    font-weight: bold;
    font-family: 'Roboto', sans-serif;    
}

input[type = text], select {
    width: 220px;
    padding: 8px;
    border: 2px solid black;
    font-size: 16px;
}

input[type = email], select {
    width: 220px;
    padding: 8px;
    border: 2px solid black;
    font-size: 16px;
}

input[type = password], select {
    width: 220px;
    padding: 8px;
    border: 2px solid black; 
}

#register {
    line-height: 30px;
}

button {
    background-color: rgb(48, 105, 226);
    color: white;
    padding: .75em 1.5em;
    border: 0;
    border-radius: 30px;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
}
